.projectCard {
  display: inline-flex;
  padding: 1.0625rem;
  gap: 1rem;
  align-items: flex-start;
  border-radius: 0.375rem;
  border: 1px solid #e5e7eb;
  background-color: #ffffff;
  box-shadow: 0 4px 4px 0 rgba(174, 174m174, 0.25);
}

.imageContainer {
  border-radius: 0.25rem;
  width: 96px;
  height: 96px;
}
